<!-- Post Template -->
<article class="post fade-in">
  <h1 class="post-title">
    <%= data.title %>
  </h1>
  <% if(data.date) { %>
    <time class="post-date">
      <span><%= data.date %></span>
    </time>
  <% } %>
  <div class="post-tags">
    <% if(data.tags) { %>
      <% data.tags.forEach(function(tag) { %>
        <% if(tag) { %>
          <a href="#/posts?tag=<%= tag %>" class="post-tag"><%= tag %></a>
        <% } %>
      <% }) %>
    <% } %>
  </div>
  <div class="post-content">
    <%= data.body %>
  </div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5011334398413258",
    enable_page_level_ads: true
  });
  </script>
</article>
